@charset "utf-8";
/* CSS Document */

body {
    margin: 0px;
    font-family: 'Segoe UI';
    background-color: black;
}

@media only screen and (min-width: 1080px) { /* PC Mode */
/* Topbar */ 
    .topbar > #background { /* Topbar Background */
        width: 100%;
        margin-top: -300px;
        z-index: -1;
        position: relative;
    }
    .topbar > #logo { /* Topbar Logo */
        z-index: 2;
        width: 100px;
        position: relative;
        top: 20px;
        left: 20px;
    }
    ul { /* Button Alignment */
        margin-top: -200px;
        text-align: right;
        padding-right: 1%;
        z-index: 3;
    }
/* Topbar Buttons */  
    .button { /* Button Style */
        padding: 15px 0px;
        margin-left: 15px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        outline: none;
        color: #fff;
        background-color: #315C1C;
        border: none;
        border-radius: 15px;
    }
    .button a { /* Button Box Response */
        color: black;
        text-decoration: none;
        padding: 15px 35px;
    }
    .button:hover { /* Button Hover Response */
        background-color: #315C1C;
        box-shadow: 0 9px rgb(31, 58, 18);
        transform: translateY(-9px);
    }
    .button:active { /* Button Activate Response */
    background-color: #315C1C;
    box-shadow: 0 5px rgb(31, 58, 18);
    transform: translateY(-5px);
    }

/* Main Paralax */ 
    .paralax > #background { /* Paralax background with cutout */
        z-index: -5;
        width: 100%;
        position: relative;
        margin-bottom: 0px;
    }
    .paralax { /* Paralaxed Image */
        z-index: -6;
        background-position: left;
        background-repeat: no-repeat;
        background-image: url('../images/superhot.jfif');
        background-attachment: fixed;
        position: relative;
        background-size: 60%;
        background-position-x: 5%;
        background-color:  #315C1C;
        Height: 660px;
        margin-bottom: -10px;
    }
    .paralax > h1 { /* Paralax Main Title */
        font-family: 'Segoe Script';
        position: relative;
        z-index: 5;
        font-size: 5em;
        margin-left: 50%;
        bottom: 600px;
        text-align: center;
    }
    .paralax > h3 { /* Quote */
        font-family: 'Segoe Script';
        position: relative;
        z-index: 5;
        font-size: 3em;
        margin-left: 50%;
        bottom: 600px;
        text-align: center;  
    }

/* Main Info */
    .main { /* Main background */
        z-index: 2;
        background-repeat: no-repeat;
        background-image: url('../images/Lowerback.png');
        background-attachment: scroll;
        position: relative;
        background-size: 100%;
        Height: 660px;
        margin-bottom: -300px;
        margin-top: -540px;
    }
    #maintext { /* Main Content Title */
        color: #315C1C;
        font-family: 'Segoe Script';
        position: relative;
        z-index: 5;
        font-size: 5em;
        text-align: center;
    }
    .main > iframe { /* Interactive Map */
        position: relative;
        z-index: 5;
        margin-top: 40%;
        width: 100%;
        height: 40%;
    }
    .smldesc { /* Quick Description */
        position: relative;
        z-index: 3;
        color: #315C1C;
        margin-top: 32.49%;
        display: inline-block;
        background-color: black;
        text-align: center;
        width: 100%;
        font-size: 2em;
    }
    .smldesc > h1 { /* Main Content Title, under map */
        font-family: 'Segoe Script';
        font-size: 3em; 
    }

/* Interactive Display Fix */
    /* Content Scaling */
        #page-container { /* Content Container */
            position: relative;
            min-height: 100vh;
        }
        #content-wrap { /* Content Wrap */
            padding-bottom: 2.5rem;
        }
    footer { /* Footer Style */
        text-align: center;
        background-color: #315C1C;
        height: 3rem;
        font-size: 1.5em;
        color: black;
        position: absolute;
        width: 100%;
        z-index: -2;
        padding-bottom: 1rem;
    }  
}

@media only screen and (max-width: 1080px) { /* Mobile Mode */
/* Top bar */ 
    .topbar > #background { /* Topbar Background */
        width: 100%;
        margin-top: -200px;
        z-index: -1;
        position: relative;
    }
    .topbar > #logo { /* Topbar Logo */
        z-index: 2;
        width: 100px;
        position: relative;
        top: 25px;
        left: 20px;
    }
    ul { /* Topbar Button Alignment */
        margin-top: -200px;
        text-align: right;
        padding-right: 1%;
        z-index: 3;
    }
/* Buttons */
    .button { /* Button Style */
        padding: 15px 0px;
        margin-left: 15px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        outline: none;
        color: #fff;
        background-color: #315C1C;
        border: none;
        border-radius: 15px;
    }
    .button a { /* Button Response Box */
        color: black;
        text-decoration: none;
        padding: 15px 35px;
    }
    .button:hover { /* Button Hover Response */
        background-color: #315C1C;
        box-shadow: 0 9px rgb(31, 58, 18);
        transform: translateY(-9px);
    }
    .button:active { /* Button Activate Response */
      background-color: #315C1C;
      box-shadow: 0 5px rgb(31, 58, 18);
      transform: translateY(-5px);
    
    }
    
/* Main Paralax */ 
    .paralax > #background { /* Static background */
        z-index: -5;
        width: 100%;
        position: relative;
        margin-bottom: 0px;
    }
    .paralax { /* Background Styling */
        z-index: -6;
        position: relative;
        background-size: 60%;
        background-position-x: 5%;
        background-color:  #315C1C;
        Height: 660px;
        margin-bottom: -10px;
    }
    .paralax > h1 { /* Title */
        font-family: 'Segoe Script';
        position: relative;
        z-index: 5;
        font-size: 5em;
        bottom: 400px;
        text-align: center;
    }
    .paralax > h3 { /* Quote */
        font-family: 'Segoe Script';
        position: relative;
        z-index: 5;
        font-size: 3em;
        bottom: 400px;
        text-align: center;  
    }
    
    /* Main Info */
    .main {
        z-index: 2;
        background-repeat: no-repeat;
        background-image: url('../images/Lowerback.png');
        background-attachment: scroll;
        position: relative;
        background-size: 105%;
        Height: 660px;
        margin-top: -400px;
        margin-bottom: -350px;
    }
    #maintext {
        color: #315C1C;
        font-family: 'Segoe Script';
        position: relative;
        z-index: 5;
        font-size: 5em;
        text-align: center;
        margin-top: -50px;
    }
    .main > iframe {
        position: relative;
        z-index: 5;
        margin-top: 40%;
        width: 100%;
        height: 40%;
    }
    .smldesc {
        position: relative;
        z-index: 3;
        color: #315C1C;
        margin-top: 32.49%;
        display: inline-block;
        background-color: black;
        text-align: center;
        width: 100%;
        bottom: 0;
        font-size: 2em;
    }
    .smldesc > h1 {
        font-family: Segoe Script;
        font-size: 3em; 
    }
    #descwords {
        margin-left: 40px;
        margin-right: 40px;
    }
    .footer {
        text-align: center;
        background-color: #315C1C;
        height: 3rem;
        font-size: 1.5em;
        color: black;
        position: absolute;
        width: 100%;
        padding-bottom: 1em;
  }    
}